name: Release

on:
  push:
    tags:
      - "v*.*.*"

env:
  RUST_BACKTRACE: 1

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml

  release:
    name: Publish Release
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Download artifacts from build workflow
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: build.yml
          commit: ${{ github.sha }}
          workflow_conclusion: success
          path: artifacts
      - name: Display structure of downloaded files
        run: ls -R artifacts

      - name: Rename artifacts to include platform
        run: |
          mv artifacts/gh-log-ubuntu-latest/gh-log artifacts/gh-log-ubuntu-latest/gh-log-x86_64-unknown-linux-gnu
          mv artifacts/gh-log-macos-latest/gh-log artifacts/gh-log-macos-latest/gh-log-aarch64-apple-darwin
          mv artifacts/gh-log-windows-latest/gh-log.exe artifacts/gh-log-windows-latest/gh-log-x86_64-pc-windows-msvc.exe

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*
          generate_release_notes: true
