name: Release

on:
  push:
    tags:
      - "v*.*.*"

env:
  RUST_BACKTRACE: 1

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml

  release:
    name: Publish Release
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Display structure of downloaded files
        run: ls -R artifacts
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*
          generate_release_notes: true
